<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Progressive Panel - In progress orders</title>
	  <!-- Bootstrap core CSS -->
    <link href="{{ url_for("staff.static", filename="css/lib/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for("staff.static", filename="css/in_progress_orders.css") }}">
</head>
<body class="bg-light">
<!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand mb-0"><img src="{{ url_for("owner_panel.static", filename="img/home_page/logo.jpg") }}" width="30" height="30" class="d-inline-block align-top" alt=""> Restaurant Name</h1>
    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </div>
  </nav> <!-- End of Navigation Bar -->

  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-2 mt-3">
        <div class="list-group">
          <a href="{{ url_for('staff.all_orders') }}" class="list-group-item list-group-item-action">All Orders</a>
          <a href="{{ url_for('staff.pending_orders') }}" class="list-group-item list-group-item-action">Pending Orders </a>
          <a href="{{ url_for('staff.in_progress_orders') }}" class="list-group-item list-group-item-action active">In Progress Orders</a>
          <a href="{{ url_for('staff.finished_orders') }}" class="list-group-item list-group-item-action">Finished Orders</a>
          <a href="{{ url_for('staff.missed_orders') }}" class="list-group-item list-group-item-action">Missed Orders</a>
        </div>
      </div>
      <div class="col-sm-10 mt-3">
        <!-- Hello Section -->
        <div class="hello-section">
          <h3 class="font-weight-light">Hello, {{ session['employee_username'] }}.</h3>
        </div><!-- /.Hello Section -->

        <!-- In Progress Orders -->
        <div class="orders">
          <div class="order-width in-progress-order">
            <div class="ml-3">
              <h5 class="float-left font-weight-bold">#232451</h5>
              <span class="float-right font-weight-bold text-danger mr-1">-8:36</span>
            </div>

            <div class="mt-2 order-footer w-100 text-capitalize">
              <!-- Orders Details -->
              <div class="additional-info">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="fit font-weight-bold">2x</td>
                      <td class="text-uppercase">item name</td>
                    </tr>
                    <tr>
                      <td class="fit font-weight-bold">2x</td>
                      <td class="text-uppercase">item name</td>
                    </tr>
                    <tr>
                      <td class="fit font-weight-bold">2x</td>
                      <td class="text-uppercase">item name</td>
                    </tr>
                  </tbody>
                </table><!-- /.Order Details -->
                <hr class="line">
                <!-- Special Instruction -->
                <p class="text-center">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p><!-- /.Special Instruction -->
                <hr class="line">
                <div class="text-center">
                  <button type="button" name="finished" class="text-uppercase btn btn-secondary">finished</button>
                </div>
              </div><!-- /.Additional Information -->
            </div>
          </div><!-- End of In Progress Order -->
      </div>
    </div>
  </div>

<!-- Bootstrap JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for("staff.static", filename="js/lib/jquery-3.3.1.min.js") }}"></script>
<script>
  $( document ).ready(function() {
    // For placing orders in optimal position
    var $grid = $('.orders').masonry({
      itemSelector: '.in-progress-order',
      columnWidth: '.order-width',
      stagger: 15,
      percentPosition: true,
    });
    $grid.masonry("reloadItems");
    $grid.masonry();

    // Each pending order's additional information will show on click based on $this value!
    // $(".pending-order").on("click", function () {
    //   //
    //   var btnDecline = $(this)["0"].children[3].children[3].children[7].childNodes[3]
    //   // init layout
    //   $grid.masonry("reloadItems");
    //   $grid.masonry();
    // });

  });
</script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="{{ url_for("staff.static", filename="js/lib/bootstrap.min.js") }}"></script>
<!-- Masonry Cascading grid layout library -->
<script src="{{ url_for("staff.static", filename="js/lib/masonry.pkgd.js") }}"></script>
</body>
</html>
