{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Owner Panel - Orders Hampers</title>
	  <!-- Bootstrap core CSS -->
    <link href="{{ url_for("owner_panel.static", filename="css/lib/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for("owner_panel.static", filename="css/owner_panel.css") }}">
</head>
<body class="bg-light">
<!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand mb-0"><img src="{{ url_for("owner_panel.static", filename="img/home_page/logo.jpg") }}" width="30" height="30" class="d-inline-block align-top" alt=""> Restaurant Name</h1>
    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('RPOSS.logout') }}">Log out</a>
        </li>
      </ul>
    </div>
  </nav> <!-- End of Navigation Bar -->

  <div class="container mt-3">
    <!-- flashes -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %} <!-- End of flashes -->
    <div class="row">
      <div class="col-sm-2 mt-3">
        <div class="list-group">
          <a href="{{ url_for('owner_panel.restaurant') }}" class="list-group-item list-group-item-action">Restaurant</a>
          <a href="{{ url_for('owner_panel.menu') }}" class="list-group-item list-group-item-action">Menu</a>
          <a href="{{ url_for('owner_panel.orders_hampers') }}" class="list-group-item list-group-item-action active">Orders Hampers</a>
          <a href="{{ url_for('owner_panel.employees_registration') }}" class="list-group-item list-group-item-action">Employees Registration</a>
          <a href="{{ url_for('owner_panel.system_interfaces') }}" class="list-group-item list-group-item-action">System Interfaces</a>
        </div>
      </div>
      <div class="col-sm-10 mt-3"><!-- Container -->
        <div class="hello-section"><!-- Hello Section -->
          <h3 class="font-weight-light">Hello, Owner.</h3>
        </div><!-- /.Hello Section -->
        <div class="options-container w-100 mt-3 pt-3 pl-3 pb-3 pr-3"><!-- Options Container -->
          <div class="main-column"><!-- Main Column -->
            <h3 class="text-uppercase font-weight-bold">ordering methods</h3>
            <hr class="line mt-3">
            <form class="form-group ordering-methods" action="/RPOSS/owner_panel/orders_hampers" method="post">
              {{ orders_methods_form.csrf_token }}
              {{ wtf.form_field(orders_methods_form.allow_pickup) }}
              {{ wtf.form_field(orders_methods_form.pickup_payment_methods) }}
              {{ wtf.form_field(orders_methods_form.pickup_tax, value=pickup_tax) }}
              {{ wtf.form_field(orders_methods_form.allow_delivery) }}
              {{ wtf.form_field(orders_methods_form.delivery_payment_methods) }}
              {{ wtf.form_field(orders_methods_form.delivery_charges, value=delivery_charges) }}
              {{ wtf.form_field(orders_methods_form.delivery_tax, value=delivery_taxes) }}
              {{ wtf.form_field(orders_methods_form.min_order_amount, value=min_amount) }}
              {{ wtf.form_field(orders_methods_form.max_order_amount , value=max_amount) }}
              {{ wtf.form_field(orders_methods_form.methods_submit, class="btn btn-primary text-uppercase float-right") }}
            </form>
          </div><!-- /.Main Column -->
          <!-- PICK-UP/DELIVERY -->
          <div class="sidebar-column ml-5 mt-3"><!-- Sidebar Column -->
            <h6 class="text-uppercase mt-4">pick-up/delivery</h6>
            <div class="bs-callout bs-callout-tip bs-callout-methods">
              <h4 class="text-capitalize font-weight-light">payment methods</h4>
              <p>Cash On Delivery (COD).</p>
              <h4 class="text-capitalize font-weight-light">minimum order amount</h4>
              <p>The least amount an order has to reach in order for a customer to proceed with his/her delivery order.</p>
              <h4 class="text-capitalize font-weight-light">maximum order amount</h4>
              <p>Customers will not be able to place their order if it exceed the maximum order amount.</p>
              <h4 class="text-capitalize font-weight-light">delivery charges</h4>
              <p>Specify a delivery charge. All delivery orders will be charged with the specified value.</p>
              <h4 class="text-capitalize font-weight-light">tax</h4>
              <p>Specify a tax value. All orders will be charged with the specified value.</p>
            </div>
          </div><!-- /.Sidebar Column -->
        </div><!-- Options Container -->
        <!-- ORDERS TIMING -->
        <div class="options-container w-100 mt-3  mb-3 pt-3 pl-3 pb-3 pr-3"><!-- Options Container -->
          <div class="main-column"><!-- Main Column -->
            <h3 class="text-uppercase font-weight-bold">orders timing</h3>
            <hr class="line mt-3">
            <form class="form-group orders-timing" action="/RPOSS/owner_panel/orders_hampers" method="post">
              {{ orders_timing_form.csrf_token }}
              {{ wtf.form_field(orders_timing_form.delivery_time, id="delivery-time") }}
              {{ wtf.form_field(orders_timing_form.preparing_time, id="preparing-time") }}
              {{ wtf.form_field(orders_timing_form.pending_time, id="pending-time") }}
              {{ wtf.form_field(orders_timing_form.timing_submit, class="btn btn-primary text-uppercase float-right") }}
            </form>
          </div><!-- /.Main Column -->
          <div class="sidebar-column ml-5 mt-3"><!-- Sidebar Column -->
            <h6 class="text-uppercase mt-4">orders average timing</h6>
            <div class="bs-callout bs-callout-tip bs-callout-timing">
              <h4 class="text-capitalize font-weight-light">delivery time</h4>
              <p>Average or normal time between placing an order and receiving the delivery.</p>
              <h4 class="text-capitalize font-weight-light">preparing time</h4>
              <p>The time by which the order is ready to be delivered.(for pick-up deliveries)</p>
              <h4 class="text-capitalize font-weight-light">pending time</h4>
              <p>The time by which the order has to be accepted by the restaurant staff. If the order was not confirmed within the specified time, the order is considered missed.</p>
            </div>
          </div><!-- /.Sidebar Column -->
        </div><!-- Options Container -->
      </div><!-- /.Container -->
    </div>
  </div>

<!-- Bootstrap JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for("owner_panel.static", filename="js/lib/jquery-3.3.1.min.js") }}"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="{{ url_for("owner_panel.static", filename="js/lib/bootstrap.min.js") }}"></script>
<script>
  $(function(){
    $('.orders-timing').find('.form-group #delivery-time option[value=' + {{ delivery_time }} + ']').attr("selected", true)
    $('.orders-timing').find('.form-group #preparing-time option[value=' + {{ preparing_time }} + ']').attr("selected", true)
    $('.orders-timing').find('.form-group #pending-time option[value=' + {{ pending_time }} + ']').attr("selected", true)
  });
</script>
</body>
</html>
