{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Few Steps</title>
	  <!-- Bootstrap core CSS -->
    <link href="{{ url_for('customer.static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('customer.static', filename='css/few_steps.css') }}">
</head>
<script>
  var delivery_taxes = {{ delivery_taxes }};
  var delivery_charges = {{ delivery_charges }};
  var min_amount = {{ min_amount }};
  var max_amount = {{ max_amount }};
</script>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="form-section bg-light col-lg-8 pt-5">
      <h1 class="text-uppercase">a few steps to send this order</h1>
      <!-- Form Section -->
      <form class="form-group" action="/few_steps" method="post">
        <div class="row mt-5 container">
          <div class="col-5">
            <!-- PERSONAL INFORMATIONS -->
            <h4>Personal Inforamtion</h4>
            {{ customer_details_form.csrf_token }}
            {{ wtf.form_field(customer_details_form.customer_name) }}
            {{ wtf.form_field(customer_details_form.customer_phone) }}
            {{ wtf.form_field(customer_details_form.customer_email) }}
              <!-- DELIVERY METHOD  -->
            <h4 class="mt-2">Order Method</h4>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="order-method" value="Pick-up" id="Pick-up" checked>Pick-up
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="order-method" value="Delivery" id="Delivery">Delivery
            </div>
            <input type="submit" value="Place order" class="btn btn-secondary btn-block text-uppercase mt-5">
            </div>
            <div class="col-5 delivery-additional-fields">
               {{ wtf.form_field(delivery_customer_details_form.address_line1) }}
               {{ wtf.form_field(delivery_customer_details_form.address_line2) }}
               {{ wtf.form_field(delivery_customer_details_form.state) }}
               {{ wtf.form_field(delivery_customer_details_form.zipcode) }}
               {{ wtf.form_field(delivery_customer_details_form.notes) }}
            </div>
          </form>
        </div>
    </div><!-- END Form Section -->

    <!-- Checkout 1 section -->
      <div class="checkout2 col-lg-4 bg-dark text-white pt-5">
        <h4 class="text-uppercase">my order / <small class="text-muted">0 items $0.00</small></h4>
        <br>
        <!-- Order Items -->
        <div class="table-container">
          <table class="table table-hover">
            <tbody id='display-order2'>
            </tbody>
          </table>
        </div><!-- /.Order Items -->
        <hr class="line">
        <div class="bill"> <!-- Bill Section -->
          <table class="table table-hover">
            <tbody>
              <tr>
                <td class="align-middle text-left font-weight-light">Subtotal<br>Delivery Charges<br>Tax</td>
                <td id="sub-deli-tax" class="align-middle text-right font-weight-light"></td>
              </tr>
              <tr>
                <th class="align-middle text-left text-uppercase">total</th>
                <th  id="total" class="align-middle text-right"></th>
              </tr>
            </tbody>
          </table>
        </div> <!--/.Bill Section -->
      </div>
  </div>
</div>

<!-- Bootstrap JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('customer.static', filename='js/lib/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('customer.static', filename='js/lib/bootstrap.min.js') }}"></script>
<!-- custome javascript for this template -->
<script type="text/javascript" src="{{ url_for('customer.static', filename='js/menu.js') }}"></script>
<script>
  $(function(){
    // show/hide delivery fields based on customer's choice
    var deliveryAditionalFields = $('.delivery-additional-fields');

    // Hide delivery fields
    deliveryAditionalFields.css('display', 'none');
    $('#address_line1').closest('input').removeAttr('required');
    $('#state').closest('input').removeAttr('required');
    $('#zipcode').closest('input').removeAttr('required');

    $('.form-group .form-check').on('click', 'input', function(){
	  displayOrder();
      var optionChecked = $(this).attr('value');
      if (optionChecked == 'Pick-up') {
        deliveryAditionalFields.css('display', 'none');
        $('#address_line1').closest('input').removeAttr('required');
        $('#state').closest('input').removeAttr('required');
        $('#zipcode').closest('input').removeAttr('required');
      }else if (optionChecked == 'Delivery') {
        deliveryAditionalFields.show();
      };
    });

  });
  displayOrder();
  saveOrder();
  createCookie('order', JSON.stringify(loadOrder()));
  console.log(loadOrder());
</script>
</body>
</html>
