<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Order Received!</title>
	  <!-- Bootstrap core CSS -->
    <link href="{{ url_for('customer.static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('customer.static', filename='css/order_received.css') }}">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <h1 class="text-uppercase">thanks, we received your order</h1>
    <h5 class="text-muted">You'll receive a confirmation email at username@domain.com once the restaurant confirms your order.</h5>
    <!-- Customer Order -->
    <h3 class="text-uppercase mt-5">your order:</h3>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td class="fit">2x</td>
                <td class="text-uppercase">item name <span class="font-weight-light text-muted"> ($00.00)</span></td>
                <td class="">$00.00</td>
              </tr>
              <tr>
                <td class="fit">2x</td>
                <td class="text-uppercase">item name <span class="font-weight-light text-muted"> ($00.00)</span></td>
                <td class="">$00.00</td>
              </tr>
              <tr>
                <td class="fit">2x</td>
                <td class="text-uppercase">item name <span class="font-weight-light text-muted"> ($00.00)</span></td>
                <td class="">$00.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td class="align-middle font-weight-bold">
                  Order ID<br><span class="text-muted font-weight-light">#222815</span><br>
                  Delivery Charges<br><span class="text-muted font-weight-light">$00.00</span><br>
                  Tax<br><span class="text-muted font-weight-light">5%</span>
                </td>
                <td class="text-uppercase font-weight-bold text-left align-bottom">total<br><span class="text-muted">$00.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- /.Customer Order -->
    <!-- Customer Details -->
    <h3 class="text-uppercase mt-5">your details:</h3>
    <div class="container font-weight-light">
      Name: <span class="font-weight-bold">...</span><br>
      Phone number: <span class="font-weight-bold">...</span><br>
      E-mail: <span class="font-weight-bold">...</span><br>
      On <span class="font-weight-bold">...</span> at <span class="font-weight-bold">...</span><br>
      At <span class="font-weight-bold">...</span><br>
    </div><!-- /.Customer Details -->
    <a href="{{ url_for('customer.index') }}" class="mt-5 mb-5">Go to home page</a>
  </div>

<!-- Bootstrap JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('customer.static', filename='js/lib/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('customer.static', filename='js/lib/bootstrap.min.js') }}"></script>
</body>
</html>
